body{overflow:auto}

.gallery{margin:10px;}
.image-list{margin:auto;}
.image-list .img{
	margin:5px;
	padding:10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: left .3s ease-in-out,top .3s ease-in-out;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.3);
	*border:1px solid #ccc;
}

.image-list .desc{margin:3px; height:30px;}