#cursor{font-weight:700;}

.input_speak{
	position:absolute;
	top:-82px;
	width:320px;
	height:120px;
	background-color:#f5f5f5;
	border:1px solid #999;
	border-top:0px;
	display:none;
	padding-left:5px;
}
.speak{height:22px; line-height:22px; margin:3px; text-align:right}
.input_speak .ibox{width:200px;}
.speak_alert{margin:5px 0px;; color:red}